<app-header></app-header>

  <div class="top-header">
    <div>
      <mat-form-field class="mr12">
        <mat-label>Search</mat-label>
        <input matInput #search type="text" [formControl]="searching" (input)="searchingInput($event)" />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="EditTask()">
        Add Task
      </button>
    </div>
  </div>
  <!-- <br> -->
  <div>
  <div class="padding">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab label="My Task">
        <app-mytask [searchInput]="myTaskSearch"></app-mytask>
      </mat-tab>
    

    
      <mat-tab label="CC">
        <app-cc  [searchInput]="ccSearch"></app-cc>
      </mat-tab>



      <mat-tab label="Assigned By Me">
        <app-assigned-by-me [searchInput]="assignedByMe"></app-assigned-by-me>
      </mat-tab>


    
      <mat-tab label="Archive List">
        <app-archive-list [searchInput]="archiveSearch"></app-archive-list>
      </mat-tab>
    </mat-tab-group>
  </div>

