<app-header></app-header>

<div class="top-header">
  <div>
    <mat-form-field class="mr12">
      <mat-label>Search</mat-label>
      <input
        matInput
        #search
        type="text"
        [formControl]="searching"
        (input)="searchingInput($event)"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="EditTask()">
      Add Task
    </button>
  </div>
</div>
<div>
  <div class="padding">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          My Task
      </ng-template>

        <app-mytask [searchInput]="myTaskSearch" [currentTab]="seletedTab"></app-mytask>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          CC
      </ng-template>
        <app-cc [searchInput]="ccSearch" [currentTab]="seletedTab"></app-cc>
      </mat-tab>

      <mat-tab label="Assigned By Me">
        <app-assigned-by-me [searchInput]="assignedByMe" [currentTab]="seletedTab"></app-assigned-by-me>
      </mat-tab>

      <mat-tab label="Archive List">
        <app-archive-list [searchInput]="archiveSearch" [currentTab]="seletedTab"></app-archive-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
