<app-header></app-header>

<div class="top-header">
  <div>
    <mat-form-field class="mr12">
      <mat-label>Search</mat-label>
      <input
        matInput
        #search
        type="text"
        [formControl]="searching"
        (input)="searchingInput($event)"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="EditTask()">
      Add Task
    </button>
  </div>
</div>
<div>
  <div class="padding">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab>
        <ng-template mat-tab-label> My Task </ng-template>
        <ng-template matTabContent>
          <app-mytask [searchInput]="myTaskSearch"></app-mytask>
        </ng-template>
      </mat-tab>

      <mat-tab label="CC">
        <ng-template mat-tab-label> CC </ng-template>
        <ng-template matTabContent>
          <app-cc [searchInput]="ccSearch"></app-cc>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label> Assigned By Me </ng-template>
        <ng-template matTabContent>
          <app-assigned-by-me [searchInput]="assignedByMe"></app-assigned-by-me>
        </ng-template>
      </mat-tab>

      <mat-tab label="Archive List">
        <ng-template mat-tab-label> Archive List </ng-template>
        <ng-template matTabContent>
          <app-archive-list [searchInput]="archiveSearch"></app-archive-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
