<div class="row">
  <div class="col-12">
    <div>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef class="col-1">
            Title
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="highlight col-1" (click)=" displayDetails(element.TaskId, false)">
            {{ element.Title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CustomerName">
          <mat-header-cell *matHeaderCellDef class="col-1">
            Customer Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-1">
            {{ element?.LeadName ? element?.LeadName : "-" }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AssignedBy">
          <mat-header-cell *matHeaderCellDef class="col-1"> 
            Assigned By
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-1">
            {{ element.AssignedByUserName }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AssignedDate">
          <mat-header-cell *matHeaderCellDef class="col-2">
            Assigned Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-2">
            {{ element.CreateDate }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="DueDate">
          <mat-header-cell *matHeaderCellDef class="col-2">
            Due Date
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-2">
            {{ element.TaskEndDate }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Priority">
          <mat-header-cell *matHeaderCellDef class="col-1">
            Priority
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-1">
            {{ element?.Priority ? element?.Priority : "-" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef class="col-1">
            Status
          </mat-header-cell>
          <mat-cell
            *matCellDef="let element"
            [ngStyle]="{
              color:
                element.TaskStatus == 100
                  ? 'green'
                  : element.TaskStatus == -1
                  ? 'red'
                  : element.TaskStatus == 0
                  ? 'orange'
                  : element.TaskStatus > 0 && element.TaskStatus < 100
                  ? 'blue'
                  : ''
            }"
            class="col-1"
          >
            <div *ngIf="element.TaskStatus == 0">Accepted</div>
            <div *ngIf="element.TaskStatus == -1">Not Accepted</div>
            <div *ngIf="element.TaskStatus > 0 && element.TaskStatus < 100">
              Partial Complete ({{ element.TaskStatus }}%)
            </div>
            <div *ngIf="element.TaskStatus == 100">Completed</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef class="col-3"></mat-header-cell>
          <mat-cell *matCellDef="let element" class="col-3">
            <button
              (click)="unarchive(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="Unarchive"
              type="button"
              [ngStyle]="{
                visibility: element.IsArchive ? 'visible' : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/Unarchive.svg"
              /></button
            >&nbsp;
            <button
              (click)="archive(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="Archive"
              type="button"
              [ngStyle]="{
                visibility:
                  userDetails.UserId == element.AssignedByUserId &&
                  !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/Archive.svg"
              /></button
            >&nbsp;
            <button
              (click)="accept(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="Accept"
              type="button"
              [ngStyle]="{
                visibility:
                  element.TaskStatus == -1 && !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/Accept.svg"
              /></button
            >&nbsp;
            <button
              (click)="viewCoverage(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="View Task Coverage"
              type="button"
              [ngStyle]="{
                visibility:
                  userDetails.UserId == element.AssignedByUserId &&
                  !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/ViewTaskCoverage.svg"
              /></button
            >&nbsp;
            <button
              (click)="deleted(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="Delete"
              type="button"
              [ngStyle]="{
                visibility:
                  userDetails.UserId == element.AssignedByUserId &&
                  !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/Delete.svg"
              /></button
            >&nbsp;
            <button
              (click)="complete(element.TaskId)"
              mat-icon-button
              color="primary"
              matTooltip="Complete"
              type="button"
              [ngStyle]="{
                visibility:
                  element.TaskStatus != 100 &&
                  element.TaskStatus != -1 &&
                  !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/Complete.svg"
              /></button
            >&nbsp;
            <button
              (click)="
                partialComplete(element.TaskId, element.CompletionPercentage)
              "
              mat-icon-button
              color="primary"
              matTooltip="Partial Complete"
              type="button"
              [ngStyle]="{
                visibility:
                  element.TaskStatus != -1 &&
                  element.TaskStatus >= 0 &&
                  element.TaskStatus < 100 &&
                  element.TaskStatus != 100 &&
                  !element.IsArchive
                    ? 'visible'
                    : 'hidden'
              }"
            >
              <img
                class="action-btn"
                src="assets/Images/PartialComplete.svg"
              /></button
            >&nbsp;
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSize]="10" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>
