<div mat-dialog-title class="">Add Task</div>
<span> <i class="fa fa-window-close"></i> </span>
<div class="d-flex justify-content-between"></div>

<mat-dialog-content class="pt-0">
  <div class="container">
    <mat-tab-group (selectedTabChange)="tabChange($event)">
      <mat-tab label=" Assigned to Others">
        <div class="row ">
          <form [formGroup]="editForm">
            <mat-form-field class=" col-12">
              <mat-label>Title*</mat-label>
              <input matInput type="text" formControlName="Title" />
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-label>Description</mat-label>
              <input matInput type="text" formControlName="Description" />
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Attach File*</mat-label>
              <input
                matInput
                (click)="openFiles()"
                [value]="imageName"
                readonly
              />
              <input formControlName="Image" hidden />
              <input
                type="file"
                #fileInput
                accept="image/*"
                (change)="handleFileSelect($event.target)"
                hidden
              />
            </mat-form-field>
            <div class="d-flex justify-content-between">
              <mat-form-field class=" col-5">
                <mat-label>Lead/Customer Name*</mat-label>
                <mat-select formControlName="LeadId">
                  <mat-form-field>
                    <input matInput placeholder="Search" type="text" />
                  </mat-form-field>
                  <mat-option *ngFor="let lead of leadList" [value]="lead.Id">
                    {{ lead.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class=" col-5">
                <mat-label>Select Due Date</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="TaskEndDateDisplay"
                  [matDatepicker]="datepicker"
                  [min]="currentDate"
                  (click)="datepicker.open()"
                  (dateChange)="closeDatepicker()"
                  readonly
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <input type="text" formControlName="TaskEndDate" hidden>
              </mat-form-field>
            </div>
            <mat-form-field class=" col-5">
              <mat-label>Select Priority</mat-label>
              <mat-select formControlName="Priority"> 
                <mat-option value="High">
                  High Priority
                </mat-option>
                <mat-option value="Low">
                  Low Priority
                </mat-option>
              </mat-select>
              
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Add Users</mat-label>
              <input
                matInput
                type="text"
                (click)="addUser('User')"
                formControlName="UserDisplayIds"
                readonly
              />
              <input type="text" formControlName="UserIds" hidden>
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Add CC Members*</mat-label>
              <input
                matInput
                type="text"
                (click)="addUser('Owner')"
                formControlName="TaskDisplayOwners"
                readonly
              />
              <input type="text" formControlName="TaskOwners" hidden>
            </mat-form-field>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Assigned For me ">
        <div class="row">
          <form [formGroup]="editForm">
            <mat-form-field class=" col-12">
              <mat-label>Title*</mat-label>
              <input matInput type="text" formControlName="Title" />
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Description*</mat-label>
              <input matInput type="text" formControlName="Description" />
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Attach File*</mat-label>
              <input
                matInput
                (click)="openFiles()"
                [value]="imageName"
                readonly
              />
              <input formControlName="Image" hidden />
              <input
                type="file"
                #fileInput
                accept="image/*"
                (change)="handleFileSelect($event.target)"
                hidden
              />
            </mat-form-field>
            <div class="d-flex justify-content-between">
              <mat-form-field class=" col-5">
                <mat-label>Lead/Customer Name*</mat-label>
                <mat-select formControlName="LeadId">
                  <mat-form-field>
                    <input matInput placeholder="Search" type="text" />
                  </mat-form-field>
                  <mat-option *ngFor="let lead of leadList" [value]="lead.Id">
                    {{ lead.Name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class=" col-5">
                <mat-label>Select Due Date</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="TaskEndDateDisplay"
                  [matDatepicker]="datepicker1"
                  [min]="currentDate"
                  (click)="datepicker1.open()"
                  (dateChange)="closeDatepicker()"
                  readonly
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datepicker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #datepicker1></mat-datepicker>
                <input type="text" formControlName="TaskEndDate" hidden>
              </mat-form-field>
            </div>
            <mat-form-field class=" col-5">
              <mat-label>Select Priority</mat-label>
              <mat-select formControlName="Priority"> 
                <mat-option value="High">
                  High Priority
                </mat-option>
                <mat-option value="Low">
                  Low Priority
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class=" col-12">
              <mat-label>Add CC Members</mat-label>
              <input
                matInput
                type="text"
                (click)="addUser('Owner')"
                formControlName="TaskDisplayOwners"
                readonly
              />
              <input type="text" formControlName="TaskOwners" hidden>
            </mat-form-field>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex align-items-center justify-content-end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button class="mr-2" (click)="onSubmit()" color="primary">
    Save
  </button>
</mat-dialog-actions>
